.form_field::placeholder {
  font-family: Inter;
  font-size: 16px;
  color: grey;
}
.form_field {
  width: 100%;
  margin-top: 6px;
  padding: 11px 0px 11px 8px;
  border-radius: 6px;
}

.ContainerLoginPage {
  background: white;
  width: 560px;
  height: 468px;
  margin: 10% auto 0 auto;
  padding: 32px;
  border-radius: 10px;
  align-items: center;
}

.form {
  width: 100%;
}

.button {
  margin-top: 32px;
  padding: 4px 0px;
  background: #0000ff61;
  width: 94%;
}
